/* TEST */

.test1 {
  background-color: red;
}

.test2 {
  background-color: green;
}

.test3 {
  background-color: blue;
}

/* root */

/* body{
    margin: 0px;
    padding: 0px;
}

main{
    margin: 0px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-div {
  width: 100%;
  height: 100vh;
}

.containerDiv {
  margin: 0px auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 920px;
}

.form-search {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: 40px;
}

.form-search i {
  position: absolute;
  right: 20px;
  color: black;
  font-size: 40px;
}

.download-btn{
  /* width: 30%; */
  margin: 20px;
  width: 150px;
  height: 60px;
  font-size: 1.3rem;
  background-color: transparent;
  text-decoration: none;
  font-style: none;
  border-radius: 10px;
}

.heading {
  width: 100%;
  font-size: 4rem;
}

.form-search input {
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
}

.list {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 1rem 0px;
  padding: 1.5rem;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px grey;
}

.card-img {
  /* background-color: bisque; */
  width: 35%;
  object-fit: cover;
  border: 1px solid grey;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1.5rem;
}

.card-title {
  margin: 5px 0px;
  font-size: 280%;
}

.card-content {
  margin: 5px 0px;
  font-size: 125%;
  font-weight: 500;
}

.btn-div {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-div button {
  padding: 0.5rem 2rem;
  width: 15rem;
  font-size: 200%;
  font-weight: 600;
  color: blue;
  cursor: pointer;
  border: 5px solid blue;
  border-radius: 5px;
  background: transparent;
  box-shadow: 0px 1px 3px 0px blue;
}

@media only screen and (max-width: 900px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  .card-body{
    padding-left: 0px;
  }
  .card-img {
    width: auto;
    max-width: 350px;
  }
  .card-title {
    text-align: center;
  }
  .btn-div{
    justify-content: space-evenly;
  }
  .btn-div button {
    padding: 0.5rem 1rem;
    width: 12rem;
    font-size: 150%;
  }
}
@media only screen and (max-width: 500px) {
  .heading {
    width: 100%;
    font-size: 2rem;
  }

  .form-search input {
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
  }
  .card-img {
    width: 80%;
    max-width: 350px;
  }
  .card-title {
    margin: 5px 0px;
    font-size: 200%;
  }
  .btn-div{
    flex-direction: column;
    align-items: center;
  }
  .btn-div a{
    margin-bottom: 10px;
  }
  .download-btn{
    /* width: 30%; */
    margin: 20px;
    width: 120px;
    height: 40px;
    font-size: 1rem;
    border-radius: 10px;
  }
}


.container-country {
  width: 100%;
  margin: 0px auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.container-country h1 {
  font-size: 3rem;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

.details img {
  width: 60%;
  max-width: 500px;
  object-fit: contain;
}

.details-box {
  width: 40%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-box div {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1000px) {
  .container-country h1 {
    font-size: 2.5rem;
  }
  .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .details img {
    width: 98%;
    margin: 10px;
    max-width: 500px;
    object-fit: contain;
  }
  .details-box {
    width: fit-content;
    max-width: 500px;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .details-box span{
    margin: 5px 0px;
  }
}

.border-img{
  border: 1px solid black;
}

.neighbour-container{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.neighbour-container h2{
  font-size: 1.5rem;
}

.neighbour-list{
  
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;
  row-gap: 2rem;
}

.neighbour-list a{
  width: 80%;
  height: fit-content;
  /* width: fit-content; */
  margin: auto auto;
}

.neighbour-item{
  /* object-fit: cover; */
  width: 100%;
  /* margin: auto auto; */
}

@media only screen and (max-width: 600px) {
  .neighbour-list{
    grid-template-columns: auto auto;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }
}

@media only screen and (max-width: 350px) {
  .neighbour-list{
    grid-template-columns: auto;
    column-gap: 1rem;
    row-gap: 1rem;
  }
}