{% extends 'base.html' %}

{% block content %}

<Head>
    <title>{{ country.name }}</title>
</Head>
<div class="container-country">
    <h1>{{ country.name }}</h1>

    <div class="details">
        <img src="{{ country.flag }}" alt="" />

        <div class="details-box">

            <span> <strong>Native Name: </strong> {{ country.nativeName }}</span>
            <span> <strong>Capital: </strong> {{ country.capital }}</span>
            <span> <strong>Population: </strong> {{ country.population }}</span>
            <span> <strong>Region: </strong> {{ country.region }}</span>
            <span> <strong>Sub-region: </strong> {{ country.subregion }}</span>
            <span> <strong>Area: </strong> {{ country.area }}</span>
            <span> <strong>Country Code: </strong> +{{ country.callcode }}</span>
            <span> <strong>Languages: </strong> {{ country.languages }}</span>
            <span> <strong>Curriencies: </strong> {{ country.currency }}</span>
            <span> <strong>Timezone: </strong> {{ country.timezones }}</span>
        </div>
    </div>

    <div class="neighbour-container">
        <h2>Neighbour Countries</h2>
        <div class="neighbour-list">
            {% set l = country.borders|stringToList %}
            {% if l|length == 0 %}

            <h3>None</h3>
                
            {% else %}

            {% for item in l %}

            {% set flag = item|getFlag %}
            {% set name = item|getName %}

            <a href="/details/{{name}}" target="_blank" rel="noreferrer">
            <img class="neighbour-item" src="{{ flag }}" alt="">
            </a>
                
            {% endfor %}
                
            {% endif %}
            

        </div>
    </div>
</div>


{% endblock content %}