{% extends 'base.html' %}

{% block content %}

<head>
    <title>Countries</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
          $('a#downloadcsv').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/download_countrylist_csv',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
    </script>
</head>

<h1 class="heading">Countries</h1>

<div class="form-search">
    <input type="text" class="form-control" placeholder="Search countries" onKeyDown={onSubmit} />
    <i class="fas fa-search"></i>
</div>

<div>
    <a href="#" id="downloadcsv">
        <button class="download-btn">Download Country List</button>
    </a>
    
</div>

{% for item in countryList %}

<!-- {% set num = countryList[itemKey]|filter_currency %} -->


<div class="card">
    <img class="card-img" src="{{item.flag}}" alt="Card image cap" />
    <div class="card-body">
        <span class="card-title">{{ item.name }}</span>
        <span class="card-content">Currency: {{ item.currency }}</span>
        <span class="card-content">Current date and time: {{ item.timezones|currentTime }} </span>
        <div class="btn-div">
            <a href="{{ item|getMap }}" target="_blank" rel="noreferrer">
                <button>Show Map</button>
            </a>
            <a href="/details/{{item.name}}" target="_blank" rel="noreferrer">
                <button>Details</button>
            </a>

        </div>
    </div>

</div>
{% endfor %}

{% endblock content %}